*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  background-color: rgb(250, 251, 245);
}
.container{
  margin-left: 22%;
  max-width: 1000px;
  height: 1080px;
  background-color: white;
}
.logo{
  display: inline-block;
}
#idlogo{
  width: 90px;
  vertical-align: middle;
}
.h1-logo{
  font-size: 70px;
  vertical-align: middle;
  display: inline;
}
.btn{
  max-width: 1000px;
  height: 100%;
  background-color: white;
  margin-bottom: 5px;
  margin-left: 22%;
  padding: .5em 2em;
  
}
#idbtn{
  border: 0;
  padding: 3px 27px;
  border-radius: 5px
}#idbtn2{
  border: #c9c9c9 solid 1px;
  padding: 3px 27px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px
}
.bg-blue{
  background-color: #45abea;
}
.font-white{
  color: white;
}
ul{
  color: #484c55;
  list-style-type: none;
  margin-bottom: 1.5rem;
}
li{
  margin-bottom: .25rem;
}
/* .arrow{
  content: '>';
  content: "\1F783"; 
  font-size: 2rem;

} */
  